{% extends 'base.html.twig' %}

{% block title %}New Type{% endblock %}

{% block body %}
    <a href="{{ path('app_post_index') }}">Retourner a la liste des posts</a>
    <h1>Create new Type</h1>

    {{ include('type/_form.html.twig') }}
{% endblock %}
